.header{
    height: 80px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
} 

.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36pt;
    pointer-events: none;
}

.header_logo_bright{
    pointer-events: none;
    color: #e8603c;
} 

.header_logo_dark{
    color: #f3af9d;
}

.header_nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    color: #b9b9b9;
    text-transform: uppercase;
} 

.nav_button{
    margin-left: 20px;
    pointer-events: none;
}

.header_home, .header_aboutUs, .header_blog, 
.header_portfolio, .header_contactUs{
    color: #b9b9b9;
}

.active{
    color: #e8603c;
}
    
@media (max-width: 1200px){
    .header{
        width: 80%;
    }
}
    
@media (max-width: 1024px){
    .header{
        width: 90%;
    } 

    .header_logo{
        font-size: 25pt;
    }
    
    .header_nav{
        font-size: 12pt;
    }
}
 
@media (max-width: 768px){
    .header{
        width: 100%;
    } 
    
    .header_logo{
        margin-left: 15px;
        font-size: 25pt;
    }
    
    .header_nav{
        margin-right: 15px;
        font-size: 12pt;
    }
}

@media (max-width: 640px){
    .header{
        width: 100%;
        flex-direction: column;
        height: auto;
    } 

    .header_logo{
        margin: 15px 0 0 0;
        font-size: 25pt;
    }
    
    .header_nav{
        margin: 10px 0 15px 0;
        font-size: 12pt;
        flex-direction: column;
    }

    .nav_button{
        margin: 2px 0;
    }
}

@media (max-width: 320px){
    .header{
        width: 100%;
        flex-direction: column;
    } 

    .header_logo{
        margin: 15px 0 0 0;
        font-size: 25pt;
    }
    
    .header_nav{
        margin: 10px 0 15px 0;
        font-size: 12pt;
        flex-direction: column;
    }

    .nav_button{
        margin: 2px 0;
    }
}

