* {
  margin: 0;
  box-sizing: border-box;
}

  /* font-family: 'Bebas Neue', cursive; */

.wrapper {
  width: 68%;
  margin: 0 auto;
}

a{
  text-decoration: none;
}
    
@media (max-width: 1200px){
   
}

 
@media (max-width: 1024px){
  .wrapper{
    width: 100%;
  } 
}
    
@media (max-width: 768px){
    
    
}
   
@media (max-width: 640px){

    
}